<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServer">
                    <security mode="TransportWithMessageCredential" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44340/PyriteService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServer"
                contract="ServiceReference.IServer" name="BasicHttpBinding_IServer" />
        </client>
    </system.serviceModel>
</configuration>